@import 'tailwindcss';

body {
  margin: 0;
  font-family: "Menlo", "Courier", "Courier New", "Monaco", "SF Mono", monospace, "PingFang SC", -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
  width: 100vw;
  height: 100vh;
}
